p > img {
	height: 75px;
	width: 75px;
	margin: 10px 10px;
}

.language-icons {
	display: flex;
}

article > img {
	height: 40px;
	width: 40px;
	margin: 10px 10px;
}

.resume-link {
	font-size: 1.75rem;
	text-decoration: none;
	color: lightgray;
}

.name-header {
	font-size: 1.75rem;
}

.education-container {
	display: flex;
	justify-content: space-evenly;
}

.individual-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	gap: 1rem;

	> img {
		object-fit: contain;
		width: 70%;
	}
}